
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 248 52% 15%;

    --card: 0 0% 100%;
    --card-foreground: 248 52% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 248 52% 15%;

    --primary: 182 98% 28%;
    --primary-foreground: 0 0% 100%;

    --secondary: 79 44% 55%;
    --secondary-foreground: 248 52% 15%;

    --muted: 218 45% 77%;
    --muted-foreground: 248 35% 35%;

    --accent: 79 44% 55%;
    --accent-foreground: 248 52% 15%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 218 45% 85%;
    --input: 218 45% 85%;
    --ring: 182 98% 28%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 248 52% 15%;
    --sidebar-primary: 182 98% 28%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 218 45% 77%;
    --sidebar-accent-foreground: 248 52% 15%;
    --sidebar-border: 218 45% 85%;
    --sidebar-ring: 182 98% 28%;
  }

  .dark {
    --background: 248 52% 15%;
    --foreground: 0 0% 100%;

    --card: 248 52% 15%;
    --card-foreground: 0 0% 100%;

    --popover: 248 52% 15%;
    --popover-foreground: 0 0% 100%;

    --primary: 182 98% 28%;
    --primary-foreground: 0 0% 100%;

    --secondary: 248 40% 25%;
    --secondary-foreground: 0 0% 100%;

    --muted: 248 40% 25%;
    --muted-foreground: 218 45% 77%;

    --accent: 79 44% 55%;
    --accent-foreground: 248 52% 15%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 248 40% 25%;
    --input: 248 40% 25%;
    --ring: 182 98% 28%;
    --sidebar-background: 248 52% 15%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 182 98% 28%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 248 40% 25%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 248 40% 25%;
    --sidebar-ring: 182 98% 28%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
